@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans&display=swap");

:root {
  --orange: #ff7300;
  --grey: #6a5c6b;
  --whitenessGrey: #d1ced2;
  --white: #fff;
  --blue: #064693;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
