@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Roboto&display=swap");

:root {
  --blue: #28dbdb;
  --darkBlue: #15036e;
  --red: #ff2e6c;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
