footer {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  color: var(--white);
  font-family: "Open sans", Arial, Helvetica, sans-serif;
}
