header {
  width: 100%;
  min-height: 60vh;
  height: fit-content;
  background-image: url(../img/fond.gif);
  background-position: 0% 0%;
  padding-bottom: 10vh;
}

nav {
  padding: 5vh 0vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(../img/fond.svg) #fff;
  background-position: center;
  z-index: 1;
}

nav h1 {
  color: var(--grey);
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  position: relative;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  text-decoration: none;
  color: var(--orange);
  gap: 0.5vh;
}

header h2 {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 4%;
  position: relative;
}

header p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

header > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--white);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1vw;
  background-color: var(--orange);
  border-radius: 5px;
  text-align: center;
  margin-top: 5%;
}

header > a::first-letter {
  text-transform: uppercase;
}

header h2::before {
  content: "**";
}

header h2::after {
  content: "**";
}
