@import url(./base.css);
@import url(./header.css);
@import url(./footer.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background: url(../img/fond.svg);
  max-width: 1100px;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 5vh 0vh;
  width: 100%;
}

section h2 {
  color: var(--grey);
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 2vh 0vh;
}

section h2::before {
  content: "**";
}

section h2::after {
  content: "**";
}

section hr {
  border: 5px solid var(--whitenessGrey);
  width: 100%;
  margin: 3vh 0vh;
}

section ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section ul li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

article img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

article h3 {
  color: var(--orange);
  text-align: center;
  text-transform: uppercase;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

article p {
  color: var(--grey);
  font-family: "Open Sans", cursive;
  font-weight: 400;
  text-align: center;
  margin: 2vh 0vh;
}

main li iconify-icon {
  padding: 2.5vh;
  background-color: var(--whitenessGrey);
  color: var(--grey);
  border-radius: 99%;
  border: 2px solid var(--grey);
  font-size: 3rem;
  height: 12vh;
  width: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article.long-text {
  display: block;
  margin-bottom: 10vh;
}

article.long-text:last-child {
  margin: 0px;
}

article.long-text img {
  width: 60vh;
  height: auto;
  float: right;
  margin-left: 2%;
  margin-bottom: 2%;
}

article.long-text img.float-left {
  float: left;
  margin-right: 2%;
  margin-left: 0px;
}

article.long-text p {
  line-height: 1.5rem;
  text-align: left;
  margin: 0px;
}

article.long-text h3 {
  text-align: left;
  margin: 2vh 0vh;
}

article.long-text button::first-letter {
  text-transform: uppercase;
}

article.long-text button {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--grey);
  color: var(--white);
  font-family: "Open sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  border: none;
  padding: 1vh 1vw;
  border-radius: 5px;
  margin: 2vh 0vh;
  cursor: pointer;
}

article.long-text button span::first-letter {
  text-transform: uppercase;
}

article.long-text button span {
  display: block;
}

article.long-text button iconify-icon {
  font-size: 1.5rem;
}

section > p {
  color: var(--grey);
  font-family: "Open Sans", cursive;
  font-weight: 400;
  margin: 2vh 0vh;
  line-height: 1.5rem;
  width: 100%;
  padding: 0% 5%;
  text-align: left;
}

form {
  width: 100%;
  padding: 0% 5%;
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
}

form .textfield {
  border: 1px solid var(--grey);
  padding: 1vh;
  border-radius: 50px;
  outline: none;
  display: flex;
  align-items: center;
  cursor: text;
  gap: 10px;
}

form .textfield:nth-child(1),
form .textfield:nth-child(2) {
  width: 49%;
}

form .textfield:nth-child(3) {
  margin-top: 2vh;
  width: 100%;
}

.textfield img {
  height: 5vh;
  width: auto;
}

.textfield input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

form .controls {
  display: flex;
  justify-content: center;
  gap: 2vh;
  width: 100%;
  margin-top: 2vh;
}

form input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 2vh 2vw;
}

form input[type="reset"] {
  background-color: var(--grey);
  color: var(--white);
  border: none;
  padding: 2vh 2vw;
}
