@font-face {
    font-family: 'Don Graffiti';
    src: url('../font/DonGraffiti.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{box-sizing: border-box;
    transition: 0.2s;
}
body{
    margin: 0 auto;
    text-align: center;
    background: url(../img/wallpaperflare.png)  fixed;
    background-size: contain;
    background-color: #313131;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
} 
header{
    background: linear-gradient(to top left, #000, 70%, #fff 65%);
    box-shadow: 1px 1px 30px 0px rgba(255, 255, 255, 1);
}
header img{
    width: 250px;
    padding: 20px;
}
header nav ul{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px 0px;
}
header nav ul a{
    font-family: "Don Graffiti";
    text-decoration: none;
    color: #FF8301;
    font-size: 2.5rem;
    letter-spacing: 5px;
}
header nav ul li :hover{
    color: white;
}
header nav ul li{
    padding: 20px;
    list-style: none;
}
.banksy img{
    width: 100%;
    border: solid white 5px;
}
p{
    color: white;
    line-height: 40px;
    font-size: 1.5rem;
    text-align: left;
}
.banksy{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    box-shadow: 1px 1px 30px 0px rgba(255, 255, 255, 1);
    margin-top: 70px;
}
h1{
    color: white;
    font-family: "Don Graffiti";
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 4rem;
}
span{
    color: #FF8301;
}
img{
    width: 100%;
}
.street h1, .detail h1, .plus h1{
    padding: 10px 0px 20px 50px;
    text-align: left;
    border-bottom: solid gray 8px;
    border-left: solid gray 8px;
}
.street p{
    color: rgb(94, 94, 94);
    padding: 10px 20px 10px 20px;
    text-align: center;
}
.street article{
    background-color: white;
    padding: 40px 40px 40px 40px;
    margin-bottom: 50px;
}
.street h2{
    font-family: "Don Graffiti";
    color: #FF8301;
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom: solid 10px #FF8301;
    letter-spacing: 10px;
}
.street button{
    background-color: #FF8301;
    border: none;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.street button:hover{
    background-color: black;
}
.detail ul li, .plus ul li{
    text-align: left;
    color: white;
}
.detail i{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.detail a{
    color: #FF8301;
    text-decoration: none;
    font-size: 20px;
}
.detail a:hover{
    color: white;
}
.detail video{
    width: 100%;
    margin-top: 50px;
    box-shadow: 1px 1px 30px 0px rgba(255, 255, 255, 1);
}
.plus a{
    color: #FF8301;
    text-decoration: none;
    font-size: 2rem;
    line-height: 50px;
    
}
.plus a:hover{
    color: white;
}
iframe{
    width: 100%;
    height: 500px;
    padding-top: 50px;
}
footer{
    box-shadow: 1px 1px 30px 0px rgba(255, 255, 255, 1);
    margin-top: 200px;
    padding: 50px 100px 50px 100px;
}
footer  h2{
    color: white;
    font-family: "Don Graffiti";
    font-size: 2.5rem;
    letter-spacing: 10px;
    font-weight: 100;
}
footer ul li{
    list-style: none;
}
footer nav ul li a{
    color: #FF8301;
    text-decoration: none;
    font-size: 30px;
}
footer nav ul li a:hover{
    color: white;
}
footer ul{
    display: flex
}
footer li{
    flex: 1;
}
footer p{
    text-align: center;
}
footer .eden{
    text-align: center;
    width: 200px;
    padding: 20px;
}
footer small{
    color: white;
    text-align: center;
    display: block;
    font-size: 1.5rem;
}
.flexslider{
    display: none;
}


/*DESKTOP*/
@media screen and (min-width: 1188px){
    header{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        padding-top: 50px;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        padding: 100px 20px 100px 20px;
    }
    .art{
        display: flex;
    }
    .street article{
        margin: 0px 20px 50px 20px;
    }
    .reseau{
        display: flex;
        justify-content: space-between;
    }
    .video video{
        width: 60%;
        margin: 0;
    }
    .video{
        text-align: right;
    }
    .wsh{
        display: flex;
        justify-content: space-between;
    }
    .principale{
        width: 39%;
    }
    .youtube iframe{
        width: 100%;
        margin: 0;
    }
    .youtube{
        text-align: right;
        width: 43;
    }
    .flexslider{
        display: block;
    }
    .mobile{
        display: none;
    }
    
}