.no-style {
  display: flex;
  list-style: none;
  gap: 5px;
  padding-left: 0px;
}

.no-list-style {
  list-style: none;
}

.cursive {
  font-family: cursive, sans-serif;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.no-margin {
  margin: 0px;
}

.grey {
  color: grey;
}

.tomato {
  color: tomato;
}

.aquamarine {
  color: aquamarine;
}

.goldenrod {
  color: goldenrod;
}

.bold {
  font-weight: bold;
}

.lg {
  font-size: 1.5rem;
}

.bg-tomato {
  background-color: tomato;
}

.bg-goldenrod {
  background-color: goldenrod;
}

.bg-aquamarine {
  background-color: aquamarine;
}

