@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

:root {
  --black: #1a1a1a;
  --blackPurple: #110011;
  --grey: #1a1a1a;
  --orange: #f9a02c;
  --lightnessOrange: #ffc368;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arvo", serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 25%;
  max-width: 20vw;
  height: auto;
}

header {
  width: 100%;
}

nav {
  width: 90%;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

nav ul li {
  padding: 1vh;
  color: var(--white);
  background-color: var(--orange);
  text-align: center;
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: var(--white);
  display: block;
  font-size: 1em;
}

ul li a::first-letter {
  text-transform: uppercase;
}

main {
  width: 90%;
}

div {
  height: 100%;
  width: 100%;
}

div:nth-child(1) {
  background-color: var(--blackPurple);
}

article h2:first-child {
  line-height: 3rem;
}

article h2 {
  color: var(--orange);
  text-transform: uppercase;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

article hr {
  color: var(--orange);
  width: 100%;
  margin: 2% 0%;
}

article p {
  color: var(--white);
  line-height: 1.5em;
}

article p::first-letter {
  text-transform: uppercase;
}

article picture,
article img,
article source {
  width: 100%;
  margin: 2% 0%;
  height: auto;
}

article iframe {
  width: 100%;
  height: auto;
  margin: 2% 0%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: var(--white);
  text-align: center;
}

main div {
  height: fit-content;
}

div:nth-child(2) {
  display: none;
  background-color: var(--lightnessOrange);
}

article {
  width: 100%;
}

div:nth-child(2) article h2 {
  color: var(--grey);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}

div:nth-child(2) article p {
  color: var(--grey);
}

footer img {
  width: 25%;
  margin: 4% 0%;
}

@media screen and (min-width: 600px) {
  div:nth-child(2) {
    display: block;
  }

  article iframe {
    width: 75%;
  }

  ul li a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 900px) {
  header img {
    width: 10%;
  }
  nav ul {
    flex-direction: row;
  }

  nav ul li {
    padding: 2vh 0vh;
  }

  main {
    height: fit-content;
    display: table;
    flex-direction: row;
  }

  main div:nth-child(1) {
    height: 100%;
  }

  main div:nth-child(2) {
    width: 30%;
    display: table-cell;
    padding: 2%;
  }

  article iframe {
    width: 100%;
  }
}
