@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/fond.png);
}

header {
  max-width: 750px;
  width: 100%;
}

main {
  max-width: 750px;
  width: 100%;
  background-color: white;
  padding: 2.5vw;
  padding-top: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #27032d;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

nav h1 {
  display: none;
}

nav ul {
  color: white;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  padding: 0px;
}

nav img {
  width: 20%;
  height: auto;
}

section h2 {
  font-family: "Luckiest Guy", cursive;
  color: #27032d;
  margin: 1vh 0vh;
}

section img {
  width: 25%;
  float: left;
  margin-right: 1vh;
}

section * {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.read-more a {
  border: none;
  background-color: #27032d;
  border-radius: 0px;
  color: white;
  padding: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

iconify-icon {
  color: #27032d;
}

section .read-more {
  display: flex;
  width: 100%;
  justify-content: right;
}

